# Rust
target/
tmp/

# Python
**/__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Xcode / Apple
DerivedData/
build/
*.xcuserstate
*.xcuserdata/

# OS / editor noise
.DS_Store
*.user
*.suo
